body {
    margin: 0px 0px 0px 0px;
    font-family: 'Bebas Neue', cursive;
    /*background-color: black;*/
}
header {
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
#logoImage {
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.navButton{
    color:white;
    font-size: xx-large;
    
}


