body {

    margin: 0px 0px 0px 0px;
    font-family: 'Bebas Neue', cursive;
    background-color: #020305;

}

header {

    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #020305;
    display: flex;
    justify-content: space-around;

}

#logoImage {

    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.navButton{
    
    color:white;
    font-size: xx-large;
    
}

.navButton:hover {
    
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

.content {

    color: white;

}

button{

    background: transparent;
    border: none !important;
    font-family: 'Bebas Neue', cursive;
   
}

.row {

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 5%;

}

.card {

    border: 2px solid white;
    max-width: 20%;
    height: auto;
    text-align: center;
    border-radius: 4px;

}

.cardImage {

    max-width: 100%;
    height: auto;

}

#footer {

    color: red;

}


/* Glow effect modified from https://www.w3schools.com/howto/howto_css_glowing_text.asp*/
@keyframes glow {

    from {

      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }

    to {

      text-shadow: 0 0 20px #fff, 0 0 30px #6b0000, 0 0 40px #6b0000, 0 0 50px #6b0000, 0 0 60px #6b0000, 0 0 70px #6b0000, 0 0 80px #6b0000;
  
    }
  
}